.idea

# Environment variables
.env

# Attachments
attachments/*
!attachments/.gitkeep

# Templates
templates/*
!templates/.gitkeep

# DS_STORE
.DS_Store

config/auth.yaml
config/mailer.yaml
config/messages.yaml